.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Assuming the Navbar height is 60px */
}

.home-content h1 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fdfdfd;
  position: relative;
  text-align: center;
}

.home-content h1 span {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.home-content h1 span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Update the transform to center the element */
  width: 0;
  height: 0;
  background-image: url('./bloxewhite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  z-index: -1;
}

.home-content h1 span:hover {
  color: transparent; /* Make the text disappear */
  padding: 30px 60px; /* Increase the padding when hovered over */
}

.home-content h1 span:hover::before {
  width: 80%;
  height: 80%;
  opacity: 1;
  transition: all 0.1s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
}
