.navbar {
  background-color: #efe7e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-link {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
  text-transform: uppercase;
}

.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.3); /* darken the background color */
}


.active {
  border-bottom: 2px solid #ffffff;
}
