.password-page {
    background-color: #efe7e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
  }
  
  .password-image {
    width: 150px; /* Increase the image size */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
  }
  
  .password-image:hover {
    transform: scale(1.1); /* Enlarge the image when hovering */
  }
  