.password-page {
  background-color: #efe7e4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.password-image {
  width: 100px;
  cursor: pointer;
}
